<p><a href="/">Zpět</a></p>
<div th:switch="${deliveries}"> 
	<h2 th:case="null">Žádné objednávky zatím nebyly přidány</h2>
    	<div th:case="*">  
     		<h2>Seznam objednávek</h2>
            <table>
                <thead>
                    <tr>
                    	<th>ID</th>
                        <th>Zaměstnanec</th>
                        <th>Zákazník</th>
                        <th>Auto</th>
                        <th>Datum vytvoření</th>
                        <th>Cena</th>
                        <th>Upravit</th>
                        <th>Smazat</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="delivery, iDel : ${deliveries}">
                	<td th:text="${delivery.id}"></td>
                    <td th:text="${delivery.employee.name}"></td>
                    <td th:text="${delivery.customer.name}"></td>
                    <td th:text="${delivery.car.name}"></td>
                    <td th:text="${deliveriesCreationDates[iDel.index]}"></td>
                    <td th:text="${delivery.price} + ' Kč'"></td>
                    <td><a th:href="@{/deliveries/edit/{id}(id=${delivery.id})}">Upravit</a></td>
                    <td><a th:href="@{/deliveries/delete/{id}(id=${delivery.id})}">Smazat</a></td>
                </tr>
            	</tbody>
        	</table>
    	</div>   
    <p><a href="/deliveries/add">Přidat objednávku</a></p>
	<div th:if="${message!=null}"  class="card-footer bg-white text-info">
		<span th:text="${message}"></span>
	</div>
</div> 
