<p><a href="/employeemenu">Zpět</a></p>
<div th:switch="${registrations}"> 
	<h2 th:case="null">Žádné registrace nebyly nalezeny</h2>
    	<div th:case="*">  
     		<h2>Seznam registrací</h2>
            <table>
                <thead>
                    <tr>
                    	<th>ID</th>
                    	<th>Typ osoby</th>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Adresa</th>
                        <th>Schválit</th>
                        <th>Smazat</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${registrations}">
                	<td th:text="${person.id}"></td>
                	<td th:text="${person.getDiscriminatorValue().equals('employee') ? 'Zaměstnanec' : 'Zákazník'}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.login}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person instanceof T(cz.restauracev2.model.Customer) ? person.address : '---'}"></td>
                    <td><a th:href="@{/persons/registrations/approve/{id}(id=${person.id})}">Schválit</a></td>
                    <td><a th:href="@{/persons/registrations/delete/{id}(id=${person.id})}">Smazat</a></td>
                </tr>
            	</tbody>
        	</table>
    	</div>   
	<div th:if="${message!=null}"  class="card-footer bg-white text-info">
		<span th:text="${message}"></span>
	</div>
</div> 

<p><a href="/performlogout">Odhlásit se</a></p>