<p><a href="/customers">Zpět</a></p>
<form action="#" th:action="@{/customers/update/{id}(id=${customer.id})}" th:object="${customer}" method="post">
    <label for="name">Jméno</label>
    <input required type="text" th:field="*{name}" id="name" placeholder="Jméno"><br>
    <label for="name">Login</label>
    <input required type="text" th:field="*{login}" id="login" placeholder="Login"><br>
    <label for="email">Email</label>
    <input required type="text" th:field="*{email}" id="email" placeholder="Email"><br>
    <label for="address">Adresa</label>
    <input required type="text" th:field="*{address}" id="address" placeholder="Adresa"><br>
    <input type="hidden" th:field="*{password}" th:value="${customer.password}">
    <input type="submit" value="Upravit zákazníka">   
</form>

<p><a href="/performlogout">Odhlásit se</a></p>