<p><a href="/employees">Zpět</a></p>
<form action="#" th:action="@{/employees/update/{id}(id=${employee.id})}" th:object="${employee}" method="post">
    <label for="name">Jméno</label>
    <input required type="text" th:field="*{name}" id="name" placeholder="Jméno"><br>
    <label for="email">Email</label>
    <input required type="text" th:field="*{email}" id="email" placeholder="Email"><br>
    <label for="salary">Výplata</label>
    <input required type="number" min="0" th:field="*{salary}" id="salary" placeholder="Výplata"> Kč<br>
    <input type="submit" value="Upravit zaměstnance">   
</form>