<p><a href="/employees">Zpět</a></p>
<h2>Přidání zaměstnance</h2>
  <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">
    <label for="name">Jméno</label>
    <input required type="text" th:field="*{name}" id="name" placeholder="Jméno"><br>
    <label for="name">Login</label>
    <input required type="text" th:field="*{login}" id="login" placeholder="Login"><br>
    <label for="password">Heslo</label>
    <input required type="text" th:field="*{password}" id="password" placeholder="Heslo"><br>
    <label for="email">Email</label>
    <input required type="text" th:field="*{email}" id="email" placeholder="Email"><br>
    <label for="price">Výplata</label>
    <input required type="number" min="0" th:field="*{salary}" id="salary" placeholder="Výplata"> Kč<br>
    <input type="submit" value="Přidat zaměstnance">   
</form>

<p><a href="/performlogout">Odhlásit se</a></p>