<p><a href="/cars">Zpět</a></p>
<b>Auto</b><br>
<p th:text="'ID: ' + ${car.id}"></p>
<p th:text="'Jméno: ' + ${car.name}"></p>
<p th:text="'Poznávací značka: ' + ${car.licencePlate}"></p>
<p th:text="'Najeté kilometry: ' + ${car.mileage} + ' km'"></p>
<p th:text="'Počet objednávek: ' + ${#lists.size(car.deliveries)}"></p>

<div th:switch="${car.deliveries}"> 
	<h2 th:case="null">Žádné objednávky zatím nebyly přidány</h2>
    	<div th:case="*">  
     		<h2>Seznam objednávek</h2>
            <table>
                <thead>
                    <tr>
                    	<th>ID</th>
                    	<th>Zaměstnanec</th>
                        <th>Zákazník</th>
                        <th>Datum vytvoření</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="delivery, iDel : ${car.deliveries}">
                	<td th:text="${delivery.id}"></td>
                	<td th:text="${delivery.employee.name}"></td>
                    <td th:text="${delivery.customer.name}"></td>
                    <td th:text="${deliveriesCreationDates[iDel.index]}"></td>
                    <td th:text="${delivery.price} + ' Kč'"></td>
                </tr>
            	</tbody>
        	</table>
    	</div>   
	<div th:if="${message!=null}"  class="card-footer bg-white text-info">
		<span th:text="${message}"></span>
	</div>
</div> 
