<p><a href="/employeemenu">Zpět</a></p>
<div th:switch="${employees}"> 
	<h2 th:case="null">Žádní zaměstnanci zatím nebyli přidáni</h2>
    	<div th:case="*">  
     		<h2>Seznam zaměstnanců</h2>
            <table>
                <thead>
                    <tr>
                    	<th>ID</th>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Mzda</th>
                        <th>Seznam objednávek</th>
                        <th>Upravit</th>
                        <th>Smazat</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                	<td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.login}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.salary} + ' Kč'"></td>
                    <td><a th:href="@{/employees/deliveries/{id}(id=${employee.id})}">Zobrazit</a></td>
                    <td><a th:href="@{/employees/edit/{id}(id=${employee.id})}">Upravit</a></td>
                    <td><a th:href="@{/employees/delete/{id}(id=${employee.id})}">Smazat</a></td>
                </tr>
            	</tbody>
        	</table>
    	</div>   
    <p><a href="/employees/add">Přidat zaměstnance</a></p>
	<div th:if="${message!=null}"  class="card-footer bg-white text-info">
		<span th:text="${message}"></span>
	</div>
</div> 

