/*===Globální stylování===*/

.header {
    width: 103.05%;
    height: 300px;
    background-color: darkblue;
    margin-top: -50px;
    margin-left: -50px;
}

.header-text {
    color: white;
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    top: 95px;
    right: 42%;
}

.button-style {
    font-weight: bold;
    font-size: 30px;
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

/*===Úvodní stránka===*/

.sekce-prihlaseni {
    font-size: 25px;
    margin-left: 35%;
    margin-top: 10%;
}

.sekce-registrace {
    font-size: 25px;
    margin-left: 55%;
    margin-top: -90px;
}

.uvodni-info {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 20%;
}

/*===Registrace===*/

.sekce-registrace-udaje {
    font-size: 25px;
    margin-left: 35%;
    margin-top: 5%;
}

.registrace-info {
    font-size: 40px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 35%;
}

.registrace-input {
    position: absolute;
    left: 48%;
    margin-top: -30px;
}

/*===Správa profilu===*/

.profil-panel {
    color: white;
    font-size: 25px;
    margin-left: 75%;
    margin-top: -200px;
}

.sprava-profilu-udaje {
    font-size: 25px;
    margin-left: 20%;
    margin-top: 10%;
}

.vymazat-button {
    margin-left: 60%;
    margin-top: -3%;
}

.sprava-profilu-info {
    font-size: 40px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 30%;
}

/*===Hlavní menu===*/

.sprava-objednavek-button {
    margin-left: 40%;
    margin-top: 15%;
}

.hlavni-menu-info {
    font-size: 40px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 35%;
}

/*===Správa objednávek===*/
.vytvoreni-objednavky-panel {
    font-size: 25px;
    margin-top: 5%;
    margin-left: 67%;
}

.menu-panel {
    font-size: 25px;
    margin-left: 25%;
    margin-top: 10%;
}

.seznam-objednavek {
    font-size: 20px;
    margin-top: 30%;
    margin-left: 8%;
}

.sprava-objednavek-info {
    position: absolute;
    left: 700px;
    top: 275px;
    font-size: 25px;
    font-weight: bold;
}

.polozka {
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    width: 150px;
}

.soucasna-objednavka {
    font-size: 20px;
    margin-top: -30%;
    margin-left: 65%;
}

.column {
    float: left;
    width: 150px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*===Správa stížností===*/
.vytvoreni-stiznosti-panel {
    font-size: 25px;
    margin-top: 10%;
    margin-left: 38%;
}

.seznam-stiznosti {
    font-size: 25px;
    margin-top: 5%;
    margin-left: 33%;
}

.stiznosti-info {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 30%;
}

/*===Správa hodnocení===*/
.vytvoreni-hodnoceni-panel {
    font-size: 25px;
    margin-top: 10%;
    margin-left: 43%;
}

.seznam-hodnoceni {
    font-size: 25px;
    margin-top: 5%;
    margin-left: 38%;
}

.hodnoceni-info {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 30%;
}
